<h2 class="text-secondary">Calculette</h2>

<form #form="ngForm">
  <div class="input-group mb-3">
    <input type="number" id="a" name="a" class="form-control form-control-lg" [(ngModel)]="a" required>

    <input type="number" id="b" name="b" class="form-control form-control-lg" [(ngModel)]="b" required>
  </div>

  <button class="btn btn-outline-secondary m-2" [disabled]="form.invalid" (click)="calculate('+')"><i class="fa-solid fa-plus"></i></button>
  <button class="btn btn-outline-secondary m-2" [disabled]="form.invalid" (click)="calculate('-')"><i class="fa-solid fa-minus"></i></button>
  <button class="btn btn-outline-secondary m-2" [disabled]="form.invalid" (click)="calculate('*')"><i class="fa-solid fa-xmark"></i></button>
  <button class="btn btn-outline-secondary m-2" [disabled]="form.invalid" (click)="calculate('/')"><i class="fa-solid fa-divide"></i></button>
</form>

@if (result != null) {
  <div class="form-control form-control-lg mt-3">{{ a }} {{ operator }} {{ b }} = {{ result }}</div>
} @else {
  <div class="form-control form-control-lg mt-3">{{ error }}</div>
}