<h2 class="text-secondary">Formulaire Réactif (Avec FormBuilder)</h2>

<form [formGroup]="personneForm" (ngSubmit)="show()">
  <label for="nom" class="form-label">Nom</label>
  <input type="text" id="nom" formControlName="nom" class="form-control" >

  @if(nom.errors) {
    @if(nom.errors['required']) {
      <div class="col-auto">
        <span id="nom" class="form-text">
          Ce champs est requis.
        </span>
      </div>
    } @else {
      <div class="col-auto">
        <span id="nom" class="form-text">
          {{ nom.errors['majuscule'] }}
        </span>
      </div>      
    }
  }

  <label for="prenom" class="form-label">Prénom</label>
  <input type="text" id="prenom" formControlName="prenom" class="form-control" >

  @if(prenom.errors) {
    @if(prenom.errors['required']) {
      <div class="col-auto">
        <span id="prenom" class="form-text">
          Ce champs est requis.
        </span>
      </div>
    } @else {
      <div class="col-auto">
        <span id="prenom" class="form-text">
          Ce champ doit commencer par une majuscule et contenir entre 3 et 30 lettres et espaces.
        </span>
      </div>      
    }
  }

  <label for="age" class="form-label">Âge</label>
  <input type="number" id="age" formControlName="age" class="form-control" >

  @if(age.errors) {
    @if(age.errors['required']) {
      <div class="col-auto">
        <span id="age" class="form-text">
          Ce champs est requis.
        </span>
      </div>
    } 
  }

  <div formGroupName="adresse">
    <h3 class="text-secondary">Adresse</h3>

    <label for="ville" class="form-label">Ville</label>
    <input type="text" id="ville" formControlName="ville" class="form-control" >

<!--     @if(ville.errors) {
      @if(ville.errors['required']) {
        <div class="col-auto">
          <span id="ville" class="form-text">
            Ce champs est requis.
          </span>
        </div>
      } 
    } -->

    <label for="codePostal" class="form-label">Code Postal</label>
    <input type="text" id="codePostal" formControlName="codePostal" class="form-control" >
  </div>
  <div formArrayName="sports">
    <h3 class="text-secondary">Sports</h3>
    <div>
      <button class="btn btn-outline-secondary" type="button" (click)="ajouterSport()">Ajouter un sport</button>
    </div>
    @for (sport of sports.controls; track sport) {
      <label class="form-label" [for]=`sport$($index)`>Sport {{ $index + 1 }} :</label>
      <input type="text" [id]=`sport$($index)` [formControlName]="$index">
      <button type="button" (click)="supprimerSport($index)" class="btn">
                <i class="fa-solid fa-trash-can text-danger"></i>
            </button>
    }
  </div>

  <div>
  <button class="btn btn-outline-secondary" [disabled]="personneForm.invalid">Afficher</button>
</div>

</form>

<ul class="list-group list-group-flush">
  @for (p of personnes; track $index) {
    <li class="list-group-item">
     {{ p.prenom }} {{ p.nom }} - {{ p.age }} ans
  </li>
  }  
</ul>