<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="valeur" placeholder="Ajouter une valeur">
  <button class="btn btn-outline-primary" (click)="ajouterValeur()"><i class="fa-solid fa-plus"></i></button>
</div>

<div class="btn-group" role="group" aria-label="Compteur">
  <button type="button" class="btn btn-primary" (click)="decrement()"><i class="fa-solid fa-minus"></i></button>
  <span class="btn btn-outline-primary">{{ result }}</span>
  <button type="button" class="btn btn-primary" (click)="increment()"><i class="fa-solid fa-plus"></i></button>
</div>
