<h3 class="text-primary my-5">Tchat</h3>

<div class="input-group mb-3">
  <input type="text" class="form-control" [(ngModel)]="nouveauParticipant.username" placeholder="Ajouter un participant" aria-label="Recipient’s username" aria-describedby="basic-addon2">
  <button class="btn btn-outline-primary" (click)="ajouterParticipant()"><i class="fa-solid fa-plus"></i></button>
</div>

<div class="row row-cols-auto justify-content-center g-4 m-0 w-100">
  @for (p of participants; track $index) {
    <div class="col-auto d-flex justify-content-center align-items-center m-2 p-0">
        <app-participant [participant]="p" ></app-participant>
    </div>
  }
</div>