<nav>
  <ul>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}">
      <a routerLink="">Accueil</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/about">À propos</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/observable">Observable</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/subject">Subject</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/computed">Computed</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/formulaire">Formulaire</a>
    </li>
  </ul>
</nav>
